<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to BDPA 2025 </h1>
    <h2> My name is Aj it's nise to tock to you </h2>
    <p> this page will be an intro to the HSCC progam</p>
  <ul>
    <li> BDPA National <a href="http://ww.bdpa.org"> Link </a> </li>
    <li> BDPA Milwaukee <a href="http://ww.bdpa.org"> Link </a> </li> 
    <li> </li>
    
    <li> have a nise expereins and came back agin by by. </li>
  </ul>
  </body>
</html>
